{% load crispy_forms_tags %}

  <form method="post" enctype='multipart/form-data' novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Upload Book</button>
  </form>